{% extends "temp.html" %}

{% block header %}
<h1><span>{{ user.username }}'s</span> Profile</h1>
<p style="margin-bottom: 10vh;">({{ user.balance|round(2) }} FMC)</p>
{% endblock %}

{% block body %}
<div style="text-align: center;">
  <div class="container-fluid">

    <h4 >Selling: {{ userSelling|length }} item(s)</h4>
    <div class="d-flex justify-content-between row">
      {% for item in userSelling %}
        <div data-bs-theme="light" class="card w-25" style="margin: 20px; padding: 0; text-align: left;">
          <img src="{{ url_for('static', filename=item.imagePath) }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
            {% if user.username == current_user.username %}
              <button name="productName" disabled class="btn btn-primary">{{ item.price|round(2) }} FMC</button>
            {% else %}
              <button name="itemName" data-bs-toggle="modal" data-bs-target="#purchaseConfirmation" value="{{ item.name }}" class="btn btn-primary overflow-auto">{{ item.price|round(2) }} FMC</button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <h4 style="margin-top: 10vh;">Owned: {{ userOwned|length }} item(s)</h4>
    <div class="d-flex justify-content-between row" style="margin-bottom: 10vh;">
      {% for item in userOwned %}
        <div data-bs-theme="light" class="card w-25" style="margin: 20px; padding: 0; text-align: left;">
          <img src="{{ url_for('static', filename=item.imagePath) }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
            {% if user.username == current_user.username %}
              <button value="{{ item.price }}" data-bs-toggle="modal" data-bs-target="#resellConfirmation" class="btn btn-primary">Re-sell</button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>


<div class="modal fade" id="resellConfirmation">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Confirm Re-sell</h4>
      </div>

      <div class="modal-body">
        <div class="previousPrice" style="margin-bottom: 3%;"></div>
        <div>How much do you want to re-sell it for?</div>
      </div>

      <div class="modal-footer justify-content-between">
        <form action="{{ url_for('market.market_page') }}" method="POST" novalidate style="all:revert">
          <div class="input-group">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <input name="newPrice" id="newPrice" type="text" class="form-control shadow-none" placeholder="New price" autocomplete="off">
            <button type="submit" name="productName" id="resell" class="btn btn-success">Confirm</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="purchaseConfirmation">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Confirm Purchase</h4>
      </div>

      <div class="modal-body">
        <div style="margin-bottom: 3%;">You have {{ current_user.balance|round(2) }} FMC</div>
        <div class="itemInfo"></div>
      </div>

      <div class="modal-footer justify-content-between">
        <form method="post" action="{{ url_for('user.profile_page', username=current_user.username) }}" style="all:revert;">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button id="buy" type="submit" class="btn btn-success" name="productName">Confirm</button>
        </form>
      </div>

    </div>
  </div>
</div>


<style>
    #newPrice:focus {
        border: 1px solid #ced4da;
    }
</style>

<script>
    $(document).ready(function () {
        var colors = ["#205295","#E94560","#3C6255", "#D89216"];
        var rand = colors[Math.floor(Math.random() * colors.length)];
        $('span').css('color', rand);
    })

    $(document).on('show.bs.modal', '#resellConfirmation', function (event){
        var invoker = $(event.relatedTarget);
        productDetails = invoker.parent().children().toArray();
        productName = productDetails[0].textContent;
        productPrice = productDetails[2].value;
        productPrice = Number(productPrice).toFixed(2)
        $(".previousPrice").html(`<i>${productName}</i> costed you ${productPrice} FMC`);
        $('#resell').attr("value", productName);
    })

    $(document).on('show.bs.modal', '#purchaseConfirmation', function (event) {
        let invoker = $(event.relatedTarget);
        productDetails = invoker.parent().children().toArray();
        productName = productDetails[0].textContent;
        productPrice = productDetails[2].textContent;
        $('.itemInfo').html(`Buy <i>${productName}</i> for ${productPrice}?`);
        $('#buy').attr("value", productName);
    })
</script>
{% endblock %}
