{% extends "temp.html" %}

{% set showPostBtn = True %}

{% block header %}
<div id="profile-header">
  <h1><span id="colored-username">{{ user.username }}'s</span> Profile</h1>
  <p>({{ user.balance|round(2) }} FMC)</p>
  <p class="text-muted">({{ user.fmt_balance|round(2) }} FMT)</p>
</div>
{% endblock %}

{% block body %}
    <p class="profile-sub-headers">Selling: {{ userSellingLen }} item{% if not singleSelling %}s{%endif %}</p>

    {% for itemGroup in userSelling %}
      <div class="row gy-5 m-auto">
      {% for item in itemGroup %}
        <div class="col-lg-4 col-md-6">
          <div data-bs-theme="light" class="card border-0 h-100">
            <img src="{{ url_for('static', filename=item.imagePath) }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.description }}</p>
              {% if user.username == current_user.username %}
                <button name="editItemPrice" value="{{ item.price }}" data-bs-toggle="modal" data-bs-target="#editItemPrice" class="btn btn-outline-info edit-price-btn overflow-auto"><span style="margin-right: 0.313rem">{{ item.price|round(2) }} FMC</span><i class="fa-regular fa-pen"></i></button>
                <button name="unlistItem" value="{{ item.name }}" class="btn btn-outline-danger overflow-auto">Remove</button>
              {% else %}
                <button name="itemName" data-bs-toggle="modal" data-bs-target="#purchaseConfirmation" value="{{ item.name }}" class="btn btn-primary overflow-auto">{{ item.price|round(2) }} FMC</button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}


    <p class="profile-sub-headers">Owned: {{ userOwnedLen }} item{% if not singleOwned %}s{%endif %}</p>

    {% for itemGroup in userOwned %}
      <div class="row gy-5 m-auto">
        {% for item in itemGroup %}
          <div class="col-lg-4 col-md-6">
            <div data-bs-theme="light" class="card border-0 h-100">
              <img src="{{ url_for('static', filename=item.imagePath) }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.description }}</p>
                {% if user.username == current_user.username %}
                  <button value="{{ item.price }}" data-bs-toggle="modal" data-bs-target="#resellConfirmation" class="btn btn-primary">Re-sell</button>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="modal fade" id="editItemPrice">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <form action="{{ url_for('market.market_page') }}" method="POST" novalidate style="all:revert">
          <div class="modal-body">
            <div class="input-group">

              <input name="newPrice" id="newPrice" type="text" class="form-control shadow-none" placeholder="New price" autocomplete="off">

            </div>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" name="productName" id="resell" class="btn btn-success">Confirm</button>



          </div>
      </form>
        </div>
      </div>
    </div>
<!--

<div class="modal fade" id="resellConfirmation">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Confirm Re-sell</h4>
      </div>

      <div class="modal-body">
        <div class="previousPrice" style="margin-bottom: 3%;"></div>
        <div>How much do you want to re-sell it for?</div>
      </div>

      <div class="modal-footer justify-content-between">
        <form action="{{ url_for('market.market_page') }}" method="POST" novalidate style="all:revert">
          <div class="input-group">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <input name="newPricsde" id="newPrice" type="text" class="form-control shadow-none" placeholder="New price" autocomplete="off">
            <button type="submit" name="productName" id="resell" class="btn btn-success">Confirm</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="purchaseConfirmation">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Confirm Purchase</h4>
      </div>

      <div class="modal-body">
        <div style="margin-bottom: 3%;">You have {{ current_user.balance|round(2) }} FMC</div>
        <div class="itemInfo"></div>
      </div>

      <div class="modal-footer justify-content-between">
        <form method="post" action="{{ url_for('user.profile_page', username=current_user.username) }}" style="all:revert;">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button id="buy" type="submit" class="btn btn-success" name="productName">Confirm</button>
        </form>
      </div>

    </div>
  </div>
</div>
-->
<script>
    $(document).ready(function () {
        var colors = ["#205295","#E94560","#3C6255", "#D89216"];
        var rand = colors[Math.floor(Math.random() * colors.length)];
        $('#colored-username').css('color', rand);
    });
    /*
    $(document).on('show.bs.modal', '#resellConfirmation', function (event){
        var invoker = $(event.relatedTarget);
        productDetails = invoker.parent().children().toArray();
        productName = productDetails[0].textContent;
        productPrice = productDetails[2].value;
        productPrice = Number(productPrice).toFixed(2);
        $(".previousPrice").html(`<i>${productName}</i> costed you ${productPrice} FMC`);
        $('#resell').attr("value", productName);
    });
    $(document).on('show.bs.modal', '#purchaseConfirmation', function (event) {
        let invoker = $(event.relatedTarget);
        productDetails = invoker.parent().children().toArray();
        productName = productDetails[0].textContent;
        productPrice = productDetails[2].textContent;
        $('.itemInfo').html(`Buy <i>${productName}</i> for ${productPrice}?`);
        $('#buy').attr("value", productName);
    });
    */
    $(document).on('show.bs.modal', '#editItemPrice', function (event) {
      var productDetails = $(event.relatedTarget).parent().children().toArray();
      console.log(productDetails);
      productName = productDetails[0].textContent;
      productPrice = productDetails[2].value;
      productPrice = Number(productPrice).toFixed(2);
      $(".modal-title").html(`Change <i>${productName}'s</i> Price`);
      $('#newPrice').attr('placeholder', `${productPrice} FMC`);
    });



</script>
{% endblock %}
