{% from 'form_helper.html' import displayField %}
{% extends "temp.html" %}

{% block header %}
<h2>Take the daily quiz, earn some munz</h2>
{% endblock %}

{% block body %}
<div style="text-align: center;">
  {% if allow %}
    <h2>Comming soon</h2>
  {% else %}
    <h3>You have already been here today you cheaky</h3>
  {% endif %}
</div>
<form action="{{ url_for('user.profile_page', username=user.username) }}" method="POST" novalidate>
  {{ displayField(form.qOne, "pass", class="form-check-input", type="radio") }}
  {{ displayField(form.qTwo, "pass", class="form-check-input", type="radio") }}
  {{ displayField(form.qThree, "pass", class="form-check-input", type="radio") }}
  {{ form.submit_button( class="btn btn-primary mb-4") }}
  {{ form.csrf_token }}
</form>


{% endblock %}
