{% from 'form_helper.html' import displayField %}
{% extends "temp.html" %}

{% set exempt = True %}

{% block header %}
<h2>Daily quiz</h2>
{% endblock %}

{% block body %}

<div style="text-align: left;">
  {% if allow %}
  <div class="quizForm">
  <form method="POST" novalidate>
    <div class="form-check">
      {{ form.qOne.label}}
      {{ form.qOne }}
      {% for error in form.qOne.errors %}
        <div class="invalid-feedback d-block">
          {{ error }}
        </div>
      {% endfor %}
    </div>


      <div class="form-check">
        {{ form.qTwo.label }}
        {{ form.qTwo }}
        {% for error in form.qTwo.errors %}
          <div class="invalid-feedback d-block">
            {{ error }}
          </div>
        {% endfor %}
      </div>

      <div class="form-check">
        {{ form.qThree.label }}
        {{ form.qThree }}
        {% for error in form.qThree.errors %}
          <div class="invalid-feedback d-block">
            {{ error }}
          </div>
        {% endfor %}
      </div>




    {{ form.submit_button( class="btn btn-primary mb-4") }}
    {{ form.csrf_token }}
  </form>
  </div>
  {% else %}

  <h1 style="text-align:center;" >Come back tomorrow, smh</h1>

  {% endif %}
</div>

<style >
  .form-check .form-check-input {
    float: none;
  }
  .quizForm {
    padding: 100px;
    background-color: #86A3B8;
    border-radius: 20px;
  }
</style>

<script type="text/javascript">
  $("input[type='radio']").each(function(){
    $(this).addClass("form-check-input")
  })
</script>

{% endblock %}
