{% from 'form_helper.html' import displayField %}
{% extends "temp.html" %}

{% set exempt = True %}

{% block header %}
<h2>Daily quiz</h2>
{% endblock %}

{% block body %}

<div class="quizForm">
  <form >
    <div class="form-check">
      {{ form.qOne.label}}
      {{ form.qOne }}
      <div class="invalid-feedback d-block">
        {{ outcome[0] }}
      </div>
    </div>


      <div class="form-check">
        {{ form.qTwo.label }}
        {{ form.qTwo }}
        <div class="invalid-feedback d-block">
          {{ outcome[1] }}
        </div>
      </div>

      <div class="form-check">
        {{ form.qThree.label }}
        {{ form.qThree }}
        <div class="invalid-feedback d-block">
          {{ outcome[2] }}
        </div>
      </div>

  </form>
  <div class="results">
    <h3>You got {{ numOfCorrect }}/3 questions right</h3>
    <h3>You have been rewarded {{ numOfCorrect * 10}} coins!</h3>
  </div>

</div>

<style >
  .form-check .form-check-input {
    float: none;
  }
  .results {
    text-align: center;
  }
  .quizForm {
    padding: 100px;
    background-color: #86A3B8;
    border-radius: 20px;
    text-align: left;
  }
</style>

<script type="text/javascript">
  $("input[type='radio']").each(function(){
    $(this).addClass("form-check-input")
  })
</script>

{% endblock %}
