{% from 'form_helper.html' import displayField %}
{% extends "temp.html" %}

{% set exempt = True %}

{% block header %}
<h2>Daily quiz</h2>
{% endblock %}

{% block body %}

<div style="text-align: center;">
  {% if allow %}
  <form method="POST" novalidate>
      {{ form.qOne.label }}
      {{ form.qOne }}
      {% for error in form.qOne.errors %}
        <div class="invalid-feedback d-block">
          {{ error }}
        </div>
      {% endfor %}
      {{ form.qTwo.label }}
      {{ form.qTwo }}
      {% for error in form.qTwo.errors %}
        <div class="invalid-feedback d-block">
          {{ error }}
        </div>
      {% endfor %}
      {{ form.qThree.label }}
      {{ form.qThree }}
      {% for error in form.qThree.errors %}
        <div class="invalid-feedback d-block">
          {{ error }}
        </div>
      {% endfor %}



    {{ form.submit_button( class="btn btn-primary mb-4") }}
    {{ form.csrf_token }}
  </form>
  {% else %}

  <h1>Come back tomorrow, smh</h1>

  {% endif %}
</div>



{% endblock %}
