{% from 'form_helper.html' import displayField %}
{% extends "temp.html" %}

{% set exempt = True %}

{% block header %}
<h2>Daily quiz</h2>
{% endblock %}

{% block body %}
  <form >
    <div class="quiz-form-content">
      <div class="form-check">
        {{ form.qOne.label}}
        <ul id="qOne">
          <li>
            <input {{ checked[0] }} id="qOne" name="qOne" type="radio" class="form-check-input">
            <label for="qOne">True</label>
          </li>
          <li>
            <input {{ checked[1] }} id="qOne-f" name="qOne" type="radio" class="form-check-input">
            <label for="qOne-f">False</label>
          </li>
        </ul>
        <div class="{{ outcome[0] }}-feedback d-block">
          {{ outcome[0] }}
        </div>
      </div>


      <div class="form-check">
        {{ form.qTwo.label }}
        <ul id="qTwo">
          <li>
            <input {{ checked[2] }} id="qTwo" name="qTwo" type="radio" class="form-check-input">
            <label for="qTwo">True</label>
          </li>
          <li>
            <input {{ checked[3] }} id="qTwo-f" name="qTwo" type="radio" class="form-check-input">
            <label for="qTwo-f">False</label>
          </li>
        </ul>
        <div class="{{ outcome[1] }}-feedback d-block">
          {{ outcome[1] }}
        </div>
      </div>


    <div class="form-check">
      {{ form.qThree.label }}
      <ul id="qThree">
        <li>
          <input {{ checked[4] }} id="qThree" name="qThree" type="radio" class="form-check-input">
          <label for="qThree">True</label>
        </li>
        <li>
          <input {{ checked[5] }} id="qThree-f" name="qThree" type="radio" class="form-check-input">
          <label for="qThree-f">False</label>
        </li>
      </ul>
      <div class="{{ outcome[2] }}-feedback d-block">
          {{ outcome[2] }}
      </div>
    </div>


  </div>
</form>


<style >
  .form-check .form-check-input {
    float: none;
  }

</style>

<script type="text/javascript">
  $("input[type='radio']").each(function(){
    $(this).addClass("form-check-input")
  })

  $(".d-block").each(function(){
    if ($(this).text() == " valid ") {
      $(this).html("Correct, +10 coins!")
    } else {
      $(this).html("Wrong")
    }

  })
</script>

{% endblock %}
