{% extends "temp.html" %}

{% set alertBelow = True %}

{% block header %}
<div id="main-header" class="generic-header">
  <h2>Free trading unleashed.</h2>
  <p>Trade in an open market</p>
</div>
{% endblock %}

{% block body %}
<div class="text-center">
    <h3 class="clickMeLink" style="border: 3px solid red;">New? Register <a href="{{ url_for('auth.sign_up_page') }}">here</a></h3>
    <br>
    <h3 class="clickMeLink" style="margin-top: 20px;">Or <a href="{{ url_for('auth.login_page') }}">login</a></h3>
</div>
{% endblock %}
