{% extends "temp.html" %}

{% set showPostBtn = True %}

{% block header %}
<div id="market-header">
  <h2>Market</h2>
</div>
{% endblock %}

{% block body %}
    {% for itemGroup in items %}
      <div class="row gy-5 m-auto">
      {% for item in itemGroup %}
      <div class="col-lg-4 col-md-6">
        <div data-bs-theme="light" class="card border-0 h-100">
          <img src="{{ url_for('static', filename=item.imagePath) }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
            {% if item.username == user.username %}
              <button name="itemName" disabled value="{{ item.name }}" class="btn btn-primary overflow-auto">{{ item.price|round(2) }} FMC</button>
              <button name="unlistItem" value="{{ item.name }}" class="btn btn-outline-danger overflow-auto">Un-list</button>
            {% else %}
              <button name="itemName" data-bs-toggle="modal" data-bs-target="#purchaseConfirmation" value="{{ item.name }}" class="btn btn-primary overflow-auto">{{ item.price|round(2) }} FMC</button>
            {% endif %}
          </div>
          <div class="card-footer border-0 text-black-50" style="padding-top: 8px;">
            <p>- From <a class="muted-link" href="{{ url_for('user.profile_page', username=item.username) }}">{{item.username}}</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

<div class="modal fade" id="purchaseConfirmation">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Confirm Purchase</h4>
      </div>

      <div class="modal-body">
        <div style="margin-bottom: 3%;">You have {{ current_user.balance|round(2) }} FMC</div>
        <div class="itemInfo"></div>
      </div>

      <div class="modal-footer justify-content-between">
        <form method="post" action="{{ url_for('user.profile_page', username=current_user.username) }}" style="all:revert;">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button id="buy" type="submit" class="btn btn-success" name="productName">Confirm</button>
        </form>
      </div>

    </div>
  </div>
</div>

<script>
    $(document).on('show.bs.modal', '#purchaseConfirmation', function (event) {
        let invoker = $(event.relatedTarget);
        productDetails = invoker.parent().children().toArray();
        productName = productDetails[0].textContent;
        productPrice = productDetails[2].textContent;
        $('.itemInfo').html(`Buy <i>${productName}</i> for ${productPrice}?`);
        $('#buy').attr("value", productName);
    })
</script>
{% endblock %}
