{% from 'form_helper.html' import displayField %}
{% extends "temp.html" %}

{% block header %}
<div class="generic-header">
  <h2>Freedom Awaits</h2>
  <p style="font-size: 1.5rem;">Start your trading journey now!</p>
</div>
{% endblock %}

{% block body %}
  <form class="auth-form" action="{{ url_for('auth.sign_up_page') }}", method="POST" novalidate>
    {{ displayField(form.username, "Username", autocomplete="off", autofocus=true) }}
    {{ displayField(form.password, "Password", autocomplete="off") }}
    {{ displayField(form.email, "Email")}}
    {{ form.submit_button(style="width: 100%;", class="btn btn-primary btn-block mb-4") }}
    {{ form.csrf_token }}

    <div class="text-center">
      <p>Already have an account? <a href="{{ url_for('auth.login_page') }}">Login</a></p>
    </div>
  </form>
{% endblock %}
